/* Google font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #f1f3f4;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  font-size: medium;
  font-weight: 600;
}

li small {
  font-size: small;
}

a {
  text-decoration: none;
  color: #f1f3f4;
}

.nav-link {
  text-decoration: none;
  color: #f1f3f4;
}

.nav-link:hover {
  color: #00a6f9;
}

.nav-link small:hover {
  color: #00a6f9;
}

img {
  width: 4rem;
  border-radius: 4px;
  display: block;
  outline: 2px solid #f1f3f4;
}

small {
  color: #aaaaaa;
}

button {
  border-radius: 30px;
  cursor: pointer;
  color: #f1f3f4;
  background-color: #1a1a1a;
  border: #1a1a1a solid 2px;
}

#toggleRepeat {
  border: solid 2px #f1f3f4;
}

pre {
  font-size: small;
  color: #f1f3f4;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.hero-template {
  background-size: cover;
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  border-radius: 8px 8px;
}

.hero .chika {
  background-image: url(../chara/chika/hero.webp);
}

.hero .matsuri {
  background-image: url(../chara/matsuri/hero.webp);
}

.hero .ana {
  background-image: url(../chara/ana/hero.webp);
}

.hero .miu {
  background-image: url(../chara/miu/hero.webp);
}

.home-container {
  text-align: center;
}

/* Intersection observer */
/* Index.html */
.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: 600ms ease-in-out;
}

.delay:nth-child(2) {
  transition-delay: 200ms;
}

.delay:nth-child(3) {
  transition-delay: 400ms;
}

.delay:nth-child(4) {
  transition-delay: 600ms;
}

.button-container {
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  justify-content: space-between;
  gap: 0.5rem;
}

.lyrics p {
  cursor: pointer;
  font-weight: 600;
  color: #111111;
}

.lyrics p.active {
  color: #f1f3f4;
}

.lyrics p.active:hover {
  color: #f1f3f4;
}

.header {
  text-align: center;
  align-items: center;
}

.lyrics-container {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.lyrics-container.chika {
  background-color: #d51515;
}

.lyrics-container.ana {
  background-color: #009146;
}

.lyrics-container.matsuri {
  background-color: #1555d5;
}

.lyrics-container.miu {
  background-color: #9b15d5;
}

#overflow {
  max-height: 40vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: clip;
  text-align: left;
  padding: 1rem;
  border-radius: 8px;
  -webkit-mask: linear-gradient(360deg, transparent, #fff 13%, #fff 87%, transparent);
  mask: linear-gradient(360deg,
      transparent,
      #fff 13%,
      #fff 87%,
      transparent);
  /* Firefox */
  scrollbar-width: none;
}

.media {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.footer {
  padding: 1rem 0 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
}

.footer small {
  display: block;
}

.footer :nth-child(2) {
  margin-top: 1rem;
}

.wrap {
  padding: 0.5rem;
  border-radius: 8px;
  text-align: left;
  box-sizing: border-box;
}

/* Media query */
@media screen and (max-width: 380px) {
  .hero-template {
    display: none;
  }

  .hero {
    display: block;
    text-align: center;
    background-size: cover;
    background-image: url(/assets/cover.webp);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #303030;
    margin-bottom: 1rem;
    -webkit-mask: linear-gradient(360deg, transparent, #fff 35%);
    mask: linear-gradient(360deg, transparent, #fff 35%);
    padding: 1rem;
  }

  .lyrics {
    line-height: 2rem;
  }
}

@media screen and (min-width: 320px) {
  .grid {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .lyrics {
    line-height: 2rem;
  }

  .lyrics p {
    font-size: larger;
  }

  .card-home {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: lightslategray solid 2px;
    background-color: #101010;
    padding: 1rem;
  }

  .card {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: lightslategray solid 1px;
    background-color: #101010;
    padding: 0 1rem 0 1rem;
    flex-shrink: 0;
  }

  .card:hover {
    border: #f1f3f4 solid 1px;
    transition: 200ms ease-in-out;
  }

  .card.active {
    border: #f1f3f4 2px solid;
    background-color: black;
    background-image:
      linear-gradient(45deg,
        hsla(0, 65%, 24%, 0.7) 8%,
        hsla(273, 82%, 36%, 0.7) 34%,
        hsla(220, 82%, 33%, 0.7) 67%,
        hsla(147, 86%, 26%, 0.7) 87%);
    background-size: 100%;
  }

  button {
    padding: 0.3rem 0.7rem 0.3rem 0.6rem;
    font-weight: 600;
  }

  .row {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    height: 8rem;
    /* Firefox */
    scrollbar-width: auto;
  }

  .home-grid {
    display: block;
    padding: 0 1rem 0 1rem;
  }

  .home-grid .card {
    padding: 1rem;
  }

  audio {
    width: 100%;
  }

  .button-left {
    display: flex;
    gap: 0.5rem;
  }

  .hero-template {
    background-position: right 0 bottom 0;
    padding: 6rem 12rem 6rem 2rem;
    -webkit-mask: linear-gradient(90deg, transparent, #fff 50%);
    mask: linear-gradient(90deg, transparent, #fff 50%);
    margin-bottom: 1rem;
  }

  .button-container {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

@media screen and (min-width: 465px) {
  .hero-template {
    padding: 6rem 15rem 6rem 2rem;
  }
}

@media screen and (min-width: 620px) {
  .grid {
    margin: 0 4rem 0 4rem;
  }

  .home-grid {
    padding: 0 10rem 0 10rem;
  }

  .lyrics p:hover {
    color: #f1f3f4c6;
  }

  audio {
    width: 50%;
  }

  .hero-template {
    background-position: right 0 bottom -1rem;
    padding: 6rem 16rem 6rem 3rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1220px) {
  .grid {
    margin: 0 20rem 0 20rem;
  }

  .home-grid {
    padding: 0 30rem 0 30rem;
  }

  .lyrics {
    line-height: 2.3rem;
  }

  .lyrics p {
    font-size: x-large;
  }

  .hero-template {
    background-position: right 0 bottom -1.5rem;
    padding: 6rem 10rem 6rem 10rem;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
}

/* Chrome, Edge scrollbar */
::-webkit-scrollbar-track {
  background: #f4f1f100;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f1f3f4;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightslategray;
}