/* todo */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow: hidden;
}

.home-container {
  display: block;
  margin: 40vh auto;
}

button {
  cursor: pointer;
  padding: 0.3rem 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

span {
  font-size: large;
}

.container-media-control {
  display: block;
}

.grid {
  display: grid;
  height: 80vh;
  grid-template-rows: 1fr 1fr;
  padding-top: 2rem;
}

.container-lyrics {
  display: block;
}

.container-adlibs {
  display: block;
}

.lyrics {
  display: none;
  margin-top: 1rem;
}

.adlibs {
  display: none;
  color: gray;
}
