.container-media-controll {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#text {
  display: none;
}
